footer {
    .container-fluid {
        .row{
            background-color: $colorlogo3;
        }
        .logo {
            width: 384px;
            height: 216px;
        }
    }
    a:hover {
        text-decoration: underline;
    }
    .bi {
        width: 22px;
        height: 22px;
        }
    .git {
        display: flex;
        justify-content: flex-end;
        background-color: $colorlogo3;
        a{
            color: #eee;
            font-size: 14px;
            padding: 0 10px;
            background: linear-gradient(0deg, rgb(184, 184, 187), rgb(231, 231, 233)) no-repeat right bottom / 0 var(--bg-h);
            
            transition: background-size 400ms;
            --bg-h: 100%;
        &:where(:hover, :focus-visible) {
            background-size: 100% var(--bg-h);
            background-position-x: left;
            color: $colorlogo3
        } 
        }
        
    }   
        .nets {
            gap: 5px;
            svg {
                padding-right: 5px;
            }
        }
}


