


.container-fluid {
    background: linear-gradient(45deg, $colorlogo3 20%, $colorlogo2 50%, $colorlogo1);

    .navbar-brand {
        font-size: 34px;
        letter-spacing: 3px;
        font-family: "PPeiko";
        b {
            font-weight: 200;
            font-family: "Peiko";
        }
    }
    .nav-link {
        transition: 0.5s;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        position: relative;
        background-image: linear-gradient($colorlogo2, $colorlogo1);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2%;
        transition: 0.3s;
        &:hover{
            background-image: linear-gradient($colorlogo2, $colorlogo1);
            background-size: 70% 2px;
        }
    }
}
