
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "Peiko";
    src: local("Peiko"),
    url(./../Multimedia/Font/ppeiko-lightItalic.ttf);
    }
@font-face {
    font-family: "PPeiko";
    src: local("PPeiko"),
    url(./../Multimedia/Font/ppeiko-Light.ttf);
    }